{{ 'collection-filters.css' | asset_url | stylesheet_tag }}

<div class="collection-filters">
  <div class="filters-sidebar__header">
    <div class="filters-sidebar__filter">
      <img src="{{ 'filter.svg' | asset_url }}" alt="filter" />
      Sort / Filters by
    </div>
    <button class="filters-sidebar__close">
      <img src="{{ 'close-search.svg' | asset_url }}" alt="filter" />
    </button>
  </div>

  <div class="filters-sidebar__wrapper">
    <div class="filters-sidebar__head">
      <h3 class="filters-sidebar__caption">Collections</h4>
      <!--<button class="filters-sidebar__button">-</button>-->
    </div>
    <ul class="filters-sidebar__list">
      <li class="filters-sidebar__item">
        <button data-handle="best-selling">Best Selling</button>
      </li>
      <li class="filters-sidebar__item">
        <button data-handle="gloves">Gloves</button>
      </li>
      <li class="filters-sidebar__item">
        <button data-handle="clothings">Clothing</button>
      </li>
      <li class="filters-sidebar__item">
        <button data-handle="accessories">Accessories</button>
      </li>
      <!--
      <li class="filters-sidebar__item">
        <button data-handle="bundle">Bundles</button>
      </li>
      -->
    </ul>
  </div>

  <div data-features-gloves class="filters-sidebar__wrapper">
    <div class="filters-sidebar__head">
      <h3 class="filters-sidebar__caption">Features</h4>
      <!--<button class="filters-sidebar__button">-</button>-->
    </div>
    <ul class="filters-sidebar__list">
      <li class="filters-sidebar__item">
        <button data-features="finger-protection">Fingersave</button>
      </li>
      <li class="filters-sidebar__item">
        <button data-features="junior-gloves">Junior</button>
      </li>
      <li class="filters-sidebar__item">
        <button data-features="hybrid-cut">Hybrid Cut</button>
      </li>
      <li class="filters-sidebar__item">
        <button data-features="negative-cut">Negative Cut</button>
      </li>
      <li class="filters-sidebar__item">
        <button data-features="all-surfaces">All Surfaces</button>
      </li>
      <li class="filters-sidebar__item">
        <button data-features="astro-4g">Astro/4G</button>
      </li>
    </ul>
  </div>

  <div data-features-gloves class="filters-sidebar__wrapper">
    <div class="filters-sidebar__head">
      <h3 class="filters-sidebar__caption">Glove Size</h4>
      <!--<button class="filters-sidebar__button">-</button>-->
    </div>
    <ul class="filters-sidebar__sizes">
      <li class="filters-sidebar__size">
        <button data-sizes="2">2</button>
      </li>
      <li class="filters-sidebar__size">
        <button data-sizes="3">3</button>
      </li>
      <li class="filters-sidebar__size">
        <button data-sizes="4">4</button>
      </li>
      <li class="filters-sidebar__size">
        <button data-sizes="5">5</button>
      </li>
      <li class="filters-sidebar__size">
        <button data-sizes="6">6</button>
      </li>
      <li class="filters-sidebar__size">
        <button data-sizes="7">7</button>
      </li>
      <li class="filters-sidebar__size">
        <button data-sizes="8">8</button>
      </li>
      <li class="filters-sidebar__size">
        <button data-sizes="9">9</button>
      </li>
      <li class="filters-sidebar__size">
        <button data-sizes="10">10</button>
      </li>
      <li class="filters-sidebar__size">
        <button data-sizes="11">11</button>
      </li>
    </ul>
  </div>

  <div data-features-clothing class="filters-sidebar__wrapper">
    <div class="filters-sidebar__head">
      <h3 class="filters-sidebar__caption">Features</h4>
      <!--<button class="filters-sidebar__button">-</button>-->
    </div>
    <ul class="filters-sidebar__list">
      <li class="filters-sidebar__item">
        <button data-features="adult-clothing">Adult</button>
      </li>
      <li class="filters-sidebar__item">
        <button data-features="junior-clothing">Junior</button>
      </li>
      <li class="filters-sidebar__item">
        <button data-features="shorts">Shorts</button>
      </li>
      <li class="filters-sidebar__item">
        <button data-features="top">Top</button>
      </li>
      <li class="filters-sidebar__item">
        <button data-features="trousers">Trousers</button>
      </li>
      <!--
      <li class="filters-sidebar__item">
        <button data-features="sizing">Sizing</button>
      </li>
      -->
      <li class="filters-sidebar__item">
        <button data-features="padded">Padded</button>
      </li>
      <li class="filters-sidebar__item">
        <button data-features="unpadded">Unpadded</button>
      </li>
    </ul>
  </div>

  <div data-features-clothing class="filters-sidebar__wrapper">
    <div class="filters-sidebar__head">
      <h3 class="filters-sidebar__caption">Clothing Size</h4>
      <!--<button class="filters-sidebar__button">-</button>-->
    </div>
    <ul class="filters-sidebar__sizes">
      <li class="filters-sidebar__size">
        <button data-sizes="ys">YS</button>
      </li>
      <li class="filters-sidebar__size">
        <button data-sizes="ym">YM</button>
      </li>
      <li class="filters-sidebar__size">
        <button data-sizes="yl">YL</button>
      </li>
      <li class="filters-sidebar__size">
        <button data-sizes="xs">XS</button>
      </li>
      <li class="filters-sidebar__size">
        <button data-sizes="s">S</button>
      </li>
      <li class="filters-sidebar__size">
        <button data-sizes="m">M</button>
      </li>
      <li class="filters-sidebar__size">
        <button data-sizes="l">L</button>
      </li>
      <li class="filters-sidebar__size">
        <button data-sizes="xl">XL</button>
      </li>
      <li class="filters-sidebar__size">
        <button data-sizes="xxl">XXL</button>
      </li>
    </ul>
  </div>

  <div class="filters-sidebar__wrapper">
    <div class="filters-sidebar__head">
      <h3 class="filters-sidebar__caption">Price Range</h4>
      <!--<button class="filters-sidebar__button">-</button>-->
    </div>
    <div class="slider-container">
      <input type="range" id="min-price" min="0" max="500" value="0" step="1">
      <input type="range" id="max-price" min="0" max="500" value="500" step="1">
      <span class="range-track" id="range-track"></span>
    </div>
    <div class="price-values">
      <span id="min-price-value">
        {% if cart.currency.iso_code == "USD" %}
          $0
        {% elsif cart.currency.iso_code == "EUR" %}
          €0
        {% else %}
          £0
        {% endif %}
      </span>
      <span id="max-price-value">
        {% if cart.currency.iso_code == "USD" %}
          $500.00
        {% elsif cart.currency.iso_code == "EUR" %}
          €500.00
        {% else %}
          £500.00
        {% endif %}
      </span>
    </div>
  </div>

  <div class="filters-sidebar__wrapper">
    <div class="filters-sidebar__head">
      <h3 class="filters-sidebar__caption">Availability</h4>
      <!--<button class="filters-sidebar__button">-</button>-->
    </div>
    <label class="filters-sidebar__label">
      <input class="filters-sidebar__checkbox" data-checkbox="in-stock" type="checkbox">
      <span class="filters-sidebar__circle"></span>
      <p class="filters-sidebar__text">In stock</p>
    </label>
    <label class="filters-sidebar__label">
      <input class="filters-sidebar__checkbox" data-checkbox="out-stock" type="checkbox">
      <span class="filters-sidebar__circle"></span>
      <p class="filters-sidebar__text">Out of stock</p>
    </label>
  </div>

  <div class="filters-sidebar__wrapper">
    <div class="filters-sidebar__head">
      <h3 class="filters-sidebar__caption">Date</h4>
      <!--<button class="filters-sidebar__button">-</button>-->
    </div>
    <label class="filters-sidebar__label">
      <input class="filters-sidebar__checkbox"  data-radio="new-to-old" name="date" type="radio">
      <span class="filters-sidebar__circle"></span>
      <p class="filters-sidebar__text">New to Old</p>
    </label>
    <label class="filters-sidebar__label">
      <input class="filters-sidebar__checkbox" data-radio="old-to-new" name="date" type="radio">
      <span class="filters-sidebar__circle"></span>
      <p class="filters-sidebar__text">Old to New</p>
    </label>
  </div>

  <p data-currency id="currency">
    {% if cart.currency.iso_code == "USD" %}
      $
    {% elsif cart.currency.iso_code == "EUR" %}
      €
    {% else %}
      £
    {% endif %}
  </p>

  <button class="filters-sidebar__apply">APPLY</button>
</div>

<style>
  #currency{
    display: none;
  }
</style>

{{ 'collection-filters.js' | asset_url | script_tag }}