{% comment %}
 Renders a snippet that displays a form for adding custom text.
S
  Accepts:  product_form_id 

  Usage:
  {% render 'personalization', product_form_id: product_form_id%}
{% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{{ 'personalization.css' | asset_url | stylesheet_tag }}

<div class="personalization-box">
    <div class="personalization-box__container">
       <div id="toggle">
          <div class="personalization-box__wrap">
             <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="28" cy="28" r="28" fill="black"/>
              <mask id="mask0_701_2" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="14" y="14" width="28" height="28">
              <rect x="14" y="14" width="28" height="28" fill="#D9D9D9"/>
              </mask>
              <g mask="url(#mask0_701_2)">
              <path d="M19.8333 36.1668H21.4667L31.5292 26.1043L29.8958 24.471L19.8333 34.5335V36.1668ZM36.5167 24.4127L31.5583 19.5127L33.1917 17.8793C33.6389 17.4321 34.1882 17.2085 34.8396 17.2085C35.491 17.2085 36.0403 17.4321 36.4875 17.8793L38.1208 19.5127C38.5681 19.9599 38.8014 20.4995 38.8208 21.1314C38.8403 21.7634 38.6264 22.3029 38.1792 22.7502L36.5167 24.4127ZM34.825 26.1335L22.4583 38.5002H17.5V33.5418L29.8667 21.1752L34.825 26.1335Z" fill="white"/>
              </g>
              </svg>
             <span>ADD PERSONALISATION</span>
          </div>
       </div>
       <div class='close-icon' style="display: none;">
          <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
             <mask id="mask0_44_569" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="28" height="28">
                <rect width="28" height="28" fill="#D9D9D9"/>
             </mask>
             <g mask="url(#mask0_44_569)">
                <path d="M7.46671 22.1667L5.83337 20.5334L12.3667 14L5.83337 7.46671L7.46671 5.83337L14 12.3667L20.5334 5.83337L22.1667 7.46671L15.6334 14L22.1667 20.5334L20.5334 22.1667L14 15.6334L7.46671 22.1667Z" fill="#1C1B1F"/>
             </g>
          </svg>
       </div>
    </div>
    <div class="personalization-box" id="personalization-drawer" style="display: none;">
       <form>
          <div>
             <label for="personalization">Name and number printed</label>
             <div class="personalization-box__column">
                <span>£7</span>
                   <input
                      required
                      type="text"
                      id="personalization"
                      maxlength="12"
                      form="{{ product_form_id }}"
                      name="properties[Name and number printed]"
                      placeholder="12 characters only"
                      />
             </div>
          </div>
       </form>
    </div>
 </div>
  

<script src="{{ 'personalization.js' | asset_url }}" defer="defer"></script>