<button data-buttonPopup="${item.id}" class="collection-products-button">
                        Add
                        <svg width="8" height="7" viewBox="0 0 8 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.42857 4H0V3H3.42857V0H4.57143V3H8V4H4.57143V7H3.42857V4Z" fill="white"/>
                        </svg>
                    </button>

<div id="popup-${item.id}" class="popup">
                        <div class="popup__content relative">
                            <div class="popup__images">
                                ${ 
                                    item.images.map(img => {
                                        return `
                                            <img
                                                src="${img}"
                                                alt="Product image"
                                                class="popup__image"
                                            >
                                        `
                                    }).join("")
                                }
                            </div>
                            <div class="popup__starst">
                                <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.93133 12.9708L4.00589 8.34386L0.416016 5.23286L5.15245 4.82186L7.00008 0.458923L8.8477 4.82186L13.5841 5.23286L9.99426 8.34386L11.0688 12.9708L7.00008 10.516L2.93133 12.9708Z" fill="#D75555"/>
                                </svg>
                                <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.93133 12.9708L4.00589 8.34386L0.416016 5.23286L5.15245 4.82186L7.00008 0.458923L8.8477 4.82186L13.5841 5.23286L9.99426 8.34386L11.0688 12.9708L7.00008 10.516L2.93133 12.9708Z" fill="#D75555"/>
                                </svg>
                                <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.93133 12.9708L4.00589 8.34386L0.416016 5.23286L5.15245 4.82186L7.00008 0.458923L8.8477 4.82186L13.5841 5.23286L9.99426 8.34386L11.0688 12.9708L7.00008 10.516L2.93133 12.9708Z" fill="#D75555"/>
                                </svg>
                                <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.93133 12.9708L4.00589 8.34386L0.416016 5.23286L5.15245 4.82186L7.00008 0.458923L8.8477 4.82186L13.5841 5.23286L9.99426 8.34386L11.0688 12.9708L7.00008 10.516L2.93133 12.9708Z" fill="#D75555"/>
                                </svg>
                                <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.93133 12.9708L4.00589 8.34386L0.416016 5.23286L5.15245 4.82186L7.00008 0.458923L8.8477 4.82186L13.5841 5.23286L9.99426 8.34386L11.0688 12.9708L7.00008 10.516L2.93133 12.9708Z" fill="#D75555"/>
                                </svg>
                            </div>
                            <div class="popup__wrapper">
                                <h2 class="popup__title">${item.title}</h3>
                                ${ 
                                    item.tags.some(item => item == "glove") ? `<span class="popup__subtitle">${item.glove_type}</span>` : ""
                                }
                            </div>
                            <h3 class="popup__price">${item.price}</h3>
                            ${
                                item.tags.some(item => item == "glove") ?
                                `
                                    <h4 class="popup__color">COLOUR :</h4>
                                    <ul class="popup__list">
                                        ${
                                            list.map(elem => {
                                                if (elem.title.split(" ")[0] == item.title.split(" ")[0]) {
                                                    return `
                                                        <li class="popup__item">
                                                            <button data-productId="${elem.id}" class="popup__button">
                                                                <img
                                                                    src="${elem.images[0]}"
                                                                    alt="photo"  
                                                                >
                                                            </button>
                                                        </li>
                                                    `
                                                }
                                            }).filter(item => item).join("")
                                        }
                                    </ul>
                                `:""
                            }
                            ${
                                !item.tags.some(item => item == "accessory") || item.tags.some(item => item == "size") ?
                                `
                                    <div class="popup__wrap">
                                        <h4 class="popup__size">
                                            SIZE: <span class="selected-size"></span>
                                        </h4>
                                        ${
                                            !item.tags.some(item => item == "size")?
                                            `
                                                <button
                                                class="popup__modal-button"
                                                data-modal="${item.id}"
                                            >
                                                HELP ME CHOOSE
                                            </button>
                                            <div id="helpchoose-${item.id}" class="popup__help">
                                                <div class="popup__help-content">
                                                    <button
                                                        data-modal="${item.id}"
                                                        class="popup__help-close ${item.type !== "glove"? "big": ""}"
                                                    >
                                                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-close" fill="none" viewBox="0 0 18 17">
                                                            <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
                                                            </path>
                                                        </svg>
                                                    </button>
                                                        <h1 class="popup__help-title">Size Guide</h1>
                                                        ${
                                                            item.tags.some(item => item == "glove") ? 
                                                            document.querySelector("." + item.type)?.innerHTML :
                                                            item.tags.some(item => item == "trousers")? document.querySelector(".trouser")?.innerHTML:
                                                            item.tags.some(item => item == "top")? document.querySelector(".top")?.innerHTML:
                                                            document.querySelector(".short")?.innerHTML
                                                        }
                                                    }
                                                </div>
                                            </div>
                                            `: ""
                                        }
                                    </div>
                                    <div class="popup__sizes">
                                        ${
                                            item.variants.map(variant => {
                                                if (variant.available) {
                                                    return `
                                                        <button
                                                            class="popup__btn"
                                                            data-variant-id="${variant.id}"
                                                        >
                                                            ${variant.option1}
                                                        </button>
                                                    `
                                                } else {
                                                    return `
                                                        <button
                                                            class="popup__btn"
                                                            disabled
                                                        >
                                                            ${variant.option1}
                                                        </button>
                                                    `
                                                }
                                            }).join("")
                                        }
                                    </div>
                                `:""
                            }
                            ${
                                item.tags.some(item => item == "glove") ?
                                `
                                    <div class="popup__box">
                                        <div class="popup__box-wrapper">
                                            <svg
                                                width="18"
                                                viewBox="0 0 56 56"
                                                fill="none"
                                                xmlns="http://www.w3.org/2000/svg"
                                            >
                                                <circle cx="28" cy="28" r="28" fill="black"/>
                                                <mask id="mask0_701_2" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="14" y="14" width="28" height="28">
                                                    <rect x="14" y="14" width="28" height="28" fill="#D9D9D9"/>
                                                </mask>
                                                <g mask="url(#mask0_701_2)">
                                                    <path d="M19.8333 36.1668H21.4667L31.5292 26.1043L29.8958 24.471L19.8333 34.5335V36.1668ZM36.5167 24.4127L31.5583 19.5127L33.1917 17.8793C33.6389 17.4321 34.1882 17.2085 34.8396 17.2085C35.491 17.2085 36.0403 17.4321 36.4875 17.8793L38.1208 19.5127C38.5681 19.9599 38.8014 20.4995 38.8208 21.1314C38.8403 21.7634 38.6264 22.3029 38.1792 22.7502L36.5167 24.4127ZM34.825 26.1335L22.4583 38.5002H17.5V33.5418L29.8667 21.1752L34.825 26.1335Z" fill="white"/>
                                                </g>
                                            </svg>
                                            <span class="text-[10px]">ADD PERSONALISATION</span>
                                        </div>
                                        <div class="popup__box-container">
                                            <div class="popup__box-wrap">
                                                <div class="popup__box-info">
                                                    <label for="personalization">Name and number printed</label>
                                                    <span>£7</span>
                                                </div>
                                                <div data-close-icon>
                                                    <svg
                                                        width="28"
                                                        height="28"
                                                        viewBox="0 0 28 28"
                                                        fill="none"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                    >
                                                        <mask id="mask0_44_569" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="28" height="28">
                                                            <rect width="28" height="28" fill="#D9D9D9"/>
                                                        </mask>
                                                        <g mask="url(#mask0_44_569)">
                                                            <path d="M7.46671 22.1667L5.83337 20.5334L12.3667 14L5.83337 7.46671L7.46671 5.83337L14 12.3667L20.5334 5.83337L22.1667 7.46671L15.6334 14L22.1667 20.5334L20.5334 22.1667L14 15.6334L7.46671 22.1667Z" fill="#1C1B1F"/>
                                                        </g>
                                                    </svg>
                                                </div>
                                            </div>
                                            <input
                                                required
                                                type="text"
                                                data-personalization
                                                maxlength="12"
                                                form="{{ product_form_id }}"
                                                name="properties[Name and number printed]"
                                                placeholder="12 characters only"
                                            >
                                        </div>
                                    </div>
                                `:""
                            }
                            <div class="popup__container">
                                <select
                                    class="popup__quantity-selector"
                                >
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                </select>
            
                                <button
                                    class="popup__submit"
                                    data-variant-id="${item?.variants[0].id}"
                                    data-product-id="${item?.id}"
                                    data-product-title="${item?.title}"
                                    data-product-price="${item?.price}"
                                    data-product-description="${item?.glove_type}"
                                    data-product-image="${item?.images[0]}"
                                >
                                    Add to Bundle
                                </button>
                            </div>
                            <button class="popup__close">
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-close" fill="none" viewBox="0 0 18 17">
                                    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </div>


<div class="card card--standard card--media" style="--ratio-percent: 125.0%;">
    <div class="card__inner color-background-2 gradient ratio" style="--ratio-percent: 125.0%;">
        <div class="card__media">
            <div class="media media--transparent media--hover-effect">
              <img data-srcset="//hundreds.co/cdn/shop/files/gloves1_11zon_1.png?v=1744872786&amp;width=165 165w,//hundreds.co/cdn/shop/files/gloves1_11zon_1.png?v=1744872786&amp;width=360 360w,//hundreds.co/cdn/shop/files/gloves1_11zon_1.png?v=1744872786&amp;width=533 533w,//hundreds.co/cdn/shop/files/gloves1_11zon_1.png?v=1744872786&amp;width=720 720w,//hundreds.co/cdn/shop/files/gloves1_11zon_1.png?v=1744872786&amp;width=940 940w,//hundreds.co/cdn/shop/files/gloves1_11zon_1.png?v=1744872786&amp;width=1066 1066w,//hundreds.co/cdn/shop/files/gloves1_11zon_1.png?v=1744872786 4016w
                " data-src="//hundreds.co/cdn/shop/files/gloves1_11zon_1.png?v=1744872786&amp;width=533" sizes="(min-width: 1600px) 367px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)" alt="Omen (White/Black)" class="motion-reduce" loading="lazy" width="4016" height="4016" src="//hundreds.co/cdn/shop/files/gloves1_11zon_1.png?v=1744872786&amp;width=533" srcset="//hundreds.co/cdn/shop/files/gloves1_11zon_1.png?v=1744872786&amp;width=165 165w,//hundreds.co/cdn/shop/files/gloves1_11zon_1.png?v=1744872786&amp;width=360 360w,//hundreds.co/cdn/shop/files/gloves1_11zon_1.png?v=1744872786&amp;width=533 533w,//hundreds.co/cdn/shop/files/gloves1_11zon_1.png?v=1744872786&amp;width=720 720w,//hundreds.co/cdn/shop/files/gloves1_11zon_1.png?v=1744872786&amp;width=940 940w,//hundreds.co/cdn/shop/files/gloves1_11zon_1.png?v=1744872786&amp;width=1066 1066w,//hundreds.co/cdn/shop/files/gloves1_11zon_1.png?v=1744872786 4016w
                ">
            </div>
        </div>
    </div>
    <div class="card__content">
        <div class="card__information">
            f
            <div class="flex-information_card_product">
                <div class="title_information_card"> 
                    <a href="№" class="full-unstyled-link">
                        <h3 class="title_product_carousel">Vanguard</h3>
                        <p class="color_product_carousel" style="text-decoration:none;">(White/Pink)</p>
                    </a>
                </div>
                <div class="card-information"><span class="caption-large light"></span>
                    <div class="card-information">
                        <div class="price">
                            <div class="price__container">
                                <div class="price__regular">
                                    <span class="price-item price-item--regular">
                                        From <span class="money">£52.99</span>
                                    </span>         
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="collection-products-item">
                    <div class="collection-products-image">
                        <img alt="${item.title}" src="${item.images[0]}" />
                        ${
                            item.tags.some(item => item == "fingersave") ? '<span class="card-top-badge">Fingersave</span>':
                            item.tags.some(item => item == "best-seller") ? '<span class="card-top-badge">Best Seller</span>':
                            item.tags.some(item => item == "new-in") ? '<span class="card-top-badge">New In</span>': ""
                        }
                    </div>
                    <div class="collection-products-wrap">
                        <div class="collection-products-information">
                            <p class="collection-producs-title">${title}</p>
                            ${variant ? `<p class="collection-producs-variant">(${variant})</p>`: ""}
                        </div>
                        <p class="collection-products-price">From ${item.price}</p>
                    </div>
                </div>