<h4 class="prodt-wrap">{% if request.locale.iso_code == 'sv' %}FÄRG:{% else %}COLOUR:{% endif %}</h4>

<div class="section__items">
    <p class="section__item">{{ product.metafields.custom.glove_type }}</p>
    <p class="section__item">{% if request.locale.iso_code == 'sv' %}Ultralätt{% else %}Ultra Lightweight{% endif %}</p>
    <p class="section__item">{% if request.locale.iso_code == 'sv' %}Andningsbar{% else %}Breathable{% endif %}</p>
</div>