{{ 'section-help-advantages.css' | asset_url | stylesheet_tag }}

<div class="page-width">
    <div class="section-help-advantages__wrapper">
        <h1 class="section-help-advantages__title">GLOVE CUTS & FIT<br /><span>(OUR GLOVES ONLY)</span></h1>
        <p class="section-help-advantages__description">We only offer high-performance cuts chosen to maximize grip, feel, and fit:</p>
        <div class="section-help-advantages__items">
            <div class="section-help-advantages__item">
                <h3 class="section-help-advantages__caption">Negative Cut<br/><span>(e.g. Obscure Black):</span></h3>
                <ul class="section-help-advantages__list">
                    <li>Snug fit with internal stitching for maximum ball contact.</li>
                    <li>Preferred by goalkeepers who want close control.</li>
                    <li>Slightly faster fingertip wear due to tight contact.</li>
                </ul>
            </div>
            <div class="section-help-advantages__item">
                <h3 class="section-help-advantages__caption">Hybrid Cut <br/><span>(e.g. Vanguard Series):</span></h3>
                <ul class="section-help-advantages__list">
                    <li>Mix of negative and roll elements.</li>
                    <li>Latex wraps around certain fingers for more coverage, while others remain tight for control.</li>
                    <li>Balanced feel—grippy, but with added comfort and durability.</li>
                </ul>
            </div>
            <div class="section-help-advantages__item">
                <h3 class="section-help-advantages__caption">Ergo Cut<br/><span>(e.g. Whiteout/Vanguard+):</span></h3>
                <ul class="section-help-advantages__list">
                    <li>Ergonomic shaping follows the natural curve of your hand.</li>
                    <li>Gives the glove a ready-to-catch feel.</li>
                    <li>Designed for shot-stopping confidence and flexibility.</li>
                </ul>
            </div>
        </div>
        <h2 class="section-help-advantages__subtitle">We do not offer Roll Finger or Flat Palm cuts.</h2>
        <div class="section-help-advantages__wrap">
            <img src="https://cdn.shopify.com/s/files/1/0667/5877/0944/files/ae03b3c5e1b16c3b39dcfb46dcc66d83ba3edbc2.jpg?v=1748955931" alt="">
            <div class="section-help-advantages__info">
                <h3 class="section-help-advantages__headline">Sizing Tips:</h3>
                <ul class="section-help-advantages__list">
                    <li>Measure the widest part of your palm (excluding thumb).</li>
                    <li>Add 1 inch and round up to the nearest whole number.</li>
                    <li>Gloves should feel snug—not loose, not circulation-cutting tight.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "section-help-advantages",
    "tag": "section",
    "class": "section-help-advantages",
    "settings": [
    ],
    "presets" : [
        {
            "name" : "section-help-advantages",
            "category" : "Custom"
        }
    ]
}
{% endschema %}