{{ 'section-banner.css' | asset_url | stylesheet_tag }}

<div class="banner__container container bundle">
    <!--
    <div class="banner__wrapper">
        <div class="banner__main">
            <div class="bunner__wrap">
                <div class="banner__stars">
                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="17" viewBox="0 0 19 17" fill="none">
                        <path d="M9.45898 0.148438L11.5919 6.55801H18.494L12.9101 10.5194L15.0429 16.9289L9.45898 12.9676L3.87502 16.9289L6.00791 10.5194L0.423947 6.55801H7.3261L9.45898 0.148438Z" fill="white"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="17" viewBox="0 0 19 17" fill="none">
                        <path d="M9.45898 0.148438L11.5919 6.55801H18.494L12.9101 10.5194L15.0429 16.9289L9.45898 12.9676L3.87502 16.9289L6.00791 10.5194L0.423947 6.55801H7.3261L9.45898 0.148438Z" fill="white"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="17" viewBox="0 0 19 17" fill="none">
                        <path d="M9.45898 0.148438L11.5919 6.55801H18.494L12.9101 10.5194L15.0429 16.9289L9.45898 12.9676L3.87502 16.9289L6.00791 10.5194L0.423947 6.55801H7.3261L9.45898 0.148438Z" fill="white"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="17" viewBox="0 0 19 17" fill="none">
                        <path d="M9.45898 0.148438L11.5919 6.55801H18.494L12.9101 10.5194L15.0429 16.9289L9.45898 12.9676L3.87502 16.9289L6.00791 10.5194L0.423947 6.55801H7.3261L9.45898 0.148438Z" fill="white"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="17" viewBox="0 0 19 17" fill="none">
                        <path d="M9.45898 0.148438L11.5919 6.55801H18.494L12.9101 10.5194L15.0429 16.9289L9.45898 12.9676L3.87502 16.9289L6.00791 10.5194L0.423947 6.55801H7.3261L9.45898 0.148438Z" fill="white"/>
                    </svg>
                </div>
                Trusted by 20,000+ Keepers
            </div>
            <h1 class="banner__title">ACADEMY PACK</h1>
            <h2 class="banner__subtitle">the best deal in goalkeeping</h2>
        </div>
        <p class="banner__item">PAIR OF GLOVES  |  3X CLOTHING  |  1X ACCESSORY</p>
    </div>
    -->
</div>

<style>
    .banner{
        background: url("{{ section.settings.banner-background-photo | img_url: 'master' }}")50% 50%/cover no-repeat;
    }

    @media (max-width: 762px) {
        .banner{
            background: url("{{ section.settings.banner-photo | img_url: 'master' }}")50% 50%/cover no-repeat;
        }
    }
</style>

{% schema %}
{
    "name": "section-banner",
    "tag": "section",
    "class": "banner",
    "settings": [
        {
            "id" : "banner-background-photo",
            "type" : "image_picker",
            "label" : "Background photo" 
        },
        {
            "id" : "banner-photo",
            "type" : "image_picker",
            "label" : "Photo" 
        }
    ],
    "presets" : [
        {
            "name" : "section-banner",
            "category" : "Custom"
        }
    ]
}
{% endschema %}