{{ 'section-bundle-service.css' | asset_url | stylesheet_tag }}

<div class="page-width">
    <h1 class="section-bundle-service__title">{% if request.locale.iso_code == 'sv' %}VARFÖR HUNDRED?{% else %}WHY HUNDRED?{% endif %}</h1>
    <div class="section-bundle-service__items">
        <div class="section-bundle-service__item">
            <img class="section-bundle-service__image" src="https://cdn.shopify.com/s/files/1/0667/5877/0944/files/1_58297cc9-ce62-4219-8d22-152ea1de995d.png?v=1750500636" alt="service" />
            <p class="section-bundle-service__caption">{% if request.locale.iso_code == 'sv' %}Betrodda av över 25 000 målvakter{% else %}Trusted by 25,000+ Goalkeepers{% endif %}</p>
            <p class="section-bundle-service__description">{% if request.locale.iso_code == 'sv' %}Används varje vecka på både gräsrots- och akademinivå.{% else %}Used weekly across grassroots & academy level.{% endif %}</p>
        </div>
        <div class="section-bundle-service__item">
            <img class="section-bundle-service__image" src="https://cdn.shopify.com/s/files/1/0667/5877/0944/files/2_385b5349-34ba-43cc-8d36-35f3108ad3ce.png?v=1750500636" alt="service" />
            <p class="section-bundle-service__caption">{% if request.locale.iso_code == 'sv' %}Byggda för växande målvakter{% else %}Built for Growing Goalkeepers{% endif %}</p>
            <p class="section-bundle-service__description">{% if request.locale.iso_code == 'sv' %}Professionella handskar och skydd — inga junioranpassningar.{% else %}Pro-grade gloves and protection — no junior downgrades.{% endif %}</p>
        </div>
        <div class="section-bundle-service__item">
            <img class="section-bundle-service__image" src="https://cdn.shopify.com/s/files/1/0667/5877/0944/files/3_edd68857-f789-4d4a-81cb-fbf0240abe20.png?v=1750500636" alt="service" />
            <p class="section-bundle-service__caption">{% if request.locale.iso_code == 'sv' %}24 timmars leverans{% else %}24 Hour Dispatch{% endif %}</p>
            <p class="section-bundle-service__description">{% if request.locale.iso_code == 'sv' %}De flesta beställningar skickas samma dag från vårt lager i Storbritannien.{% else %}Most orders ship same day from our UK warehouse.{% endif %}</p>
        </div>
        <div class="section-bundle-service__item">
            <img class="section-bundle-service__image" src="https://cdn.shopify.com/s/files/1/0667/5877/0944/files/4.png?v=1750500637" alt="service" />
            <p class="section-bundle-service__caption">{% if request.locale.iso_code == 'sv' %}Gratis & smidiga storleksbyten{% else %}Free & Easy Size Exchanges{% endif %}</p>
            <p class="section-bundle-service__description">{% if request.locale.iso_code == 'sv' %}Snabba & enkla byten om storleken inte passar{% else %}Quick & simple swaps if your sizing isn’t right.{% endif %}</p>
        </div>
        <div class="section-bundle-service__item">
            <img class="section-bundle-service__image" src="https://cdn.shopify.com/s/files/1/0667/5877/0944/files/5_7b09bad5-a924-403e-9484-aeda5b3443b7.png?v=1750500636" alt="service" />
            <p class="section-bundle-service__caption">{% if request.locale.iso_code == 'sv' %}Ett paket. Hela säsongen fixad.{% else %}One Bundle. Full Season Sorted.{% endif %}</p>
            <p class="section-bundle-service__description">{% if request.locale.iso_code == 'sv' %}Handskar, vadderad utrustning och tillbehör — inga blandade märken.{% else %}Gloves, padded kit & accessory — no mixing brands.{% endif %}</p>
        </div>
        <div class="section-bundle-service__item">
            <img class="section-bundle-service__image" src="https://cdn.shopify.com/s/files/1/0667/5877/0944/files/6_32975205-8eb9-4d0d-9bee-49e74c24cda3.png?v=1750500637" alt="service" />
            <p class="section-bundle-service__caption">{% if request.locale.iso_code == 'sv' %}10-matchers garanti{% else %}10-Game Guarantee{% endif %}</p>
            <p class="section-bundle-service__description">{% if request.locale.iso_code == 'sv' %}Om dina handskar inte lever upp till förväntningarna — byter vi ut dem.{% else %}If your gloves don’t deliver — we replace them.{% endif %}</p>
        </div>
    </div>
    <div class="section-bundle-service__wrap">
        <a class="section-bundle-service__button" href="#build-bundle-product">{% if request.locale.iso_code == 'sv' %}BYGG DERAS PAKET →{% else %}BUILD THEIR BUNDLE →{% endif %}</a>
        <p class="section-bundle-service__text">
            <img src="{{ 'verified_black.svg' | asset_url }}" alt="arrow" />
            {% if request.locale.iso_code == 'sv' %}10-matchers garanti{% else %}10 Game Guarantee{% endif %}
        </p>
    </div>
</div>

{% schema %}
    {
        "name": "section-bundle-service",
        "tag": "section",
        "class": "section-bundle-service",
        "settings": [
        ],
        "presets" : [
            {
                "name" : "section-bundle-service",
                "category" : "Custom"
            }
        ]
    }
{% endschema %}