.filters-sidebar__wrapper{
    padding-bottom: 40px;
    margin-bottom: 40px;
    position: relative;
}

.filters-sidebar__wrapper::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
}

.filters-sidebar__head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filters-sidebar__caption{
    margin: 0;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    font-family: "Arial" !important;
    text-transform: none;
}

.filters-sidebar__button{
    border: none;
    background-color: transparent;
}

.filters-sidebar__list{
    padding: 0;
    margin: 0;
    list-style: none;
}

.filters-sidebar__item button{
    background-color: transparent;
    padding: 0;
    border: none;
    font-size: 20px;
    text-transform: none;
    color: #000;
    padding-bottom: 5px;
    position: relative;
    margin-bottom: 10px;
    display: inline-block;
    font-family: "Arial" !important;
    text-align: start;
}

.filters-sidebar__sizes{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    padding: 0;
    margin: 0;
    list-style: none;
}

.filters-sidebar__size button{
    color: #000;
    font-family: "Arial" !important;
    font-weight: 700 !important;
    width: 100%;
    background-color: transparent;
    border: 1px solid rgba(141, 141, 141, 1);
    padding: 5px;
    transition: .5s all;
}

.filters-sidebar__size button.active{
    color: #fff;
    background-color: #000;
    border: none;
}

.filters-sidebar__item:last-child button{
    margin-bottom: 0;
}

.filters-sidebar__item button::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    opacity: 0;
    transition: .5s opacity;
}

.filters-sidebar__item button.active::before{
    opacity: 1;
}

.filters-sidebar__label{
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-bottom: 5px;
}

.filters-sidebar__label:last-child{
    margin-bottom: 0;
}

.filters-sidebar__circle{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px #6F6F6F solid;
    background-color: #F2F2F2;
    transition: .5s background-color;
}

.filters-sidebar__checkbox:checked ~ .filters-sidebar__circle{
    background-color: #000;
}

.filters-sidebar__checkbox{
    display: none !important;
}

.filters-sidebar__text{
    color: #000;
    margin: 0;
}

.price-filter {
    font-family: sans-serif;
    max-width: 300px;
}

.slider-container {
    position: relative;
    height: 20px;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    position: absolute;
    height: 4px;
    top: 8px;
    pointer-events: none;
    background: none;
    z-index: 1;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    height: 16px;
    width: 16px;
    background: white;
    border: 2px solid #234534;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

input[type="range"]::-moz-range-thumb {
    pointer-events: all;
    height: 16px;
    width: 16px;
    background: white;
    border: 2px solid #234534;
    border-radius: 50%;
    cursor: pointer;
}

.range-track {
    position: absolute;
    top: 8px;
    height: 4px;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to right, #ccc 0%, #ccc 100%);
    z-index: 0;
    border-radius: 2px;
}

.price-values {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: #000;
    margin-top: 10px;
}

.filters-sidebar__header{
    display: none;
    align-items: center;
    justify-content: space-between;
    margin: 0 -10px;
    margin-bottom: 30px;
}

.filters-sidebar__filter{
    color: #000;
    font-size: 16px;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.filters-sidebar__close{
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

.filters-sidebar__apply{
    padding: 15px 50px;
    background-color: rgba(215, 85, 85, 1);
    margin: 0 auto;
    display: none;
    font-weight: 700;
    font-family: "Arial" !important;
    border: none;
    color: #fff;
}
  
@media (max-width: 992px) {
    .filters-sidebar__caption,
    .filters-sidebar__item button,
    .filters-sidebar__text{
        font-size: 18px;
    }

    .filters-sidebar__wrapper{
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
}
  
@media (max-width: 762px) {
    .collection-filters{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 10000;
        padding: 20px 40px;
        overflow-y: auto;
        transform: translateX(-100%);
        transition: .5s transform;
    }

    .collection-filters.active{
        transform: translateX(0);
    }

    .filters-sidebar__header{
        display: flex;
    }

    .filters-sidebar__wrapper:last-child::before{
        display: none;
    }

    .filters-sidebar__wrapper:last-child{
        padding: 0;
    }

    .filters-sidebar__apply{
        display: block;
    }

    .filters-sidebar__sizes{
        grid-template-columns: repeat(5, 1fr);
    }
}
  
@media (max-width: 576px) {
    .filters-sidebar__caption,
    .filters-sidebar__item button,
    .filters-sidebar__text{
        font-size: 16px;
    }

    .filters-sidebar__wrapper{
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
}