#tidio-chat{
    display: none !important;
}

.section-glove__text{
    margin: 0;
    font-size: 10px;
    margin-bottom: -10px;
}

.page-width{
    max-width: 1450px;
}

.section-glove__wrapper{
    display: flex;
    column-gap: 40px;
}

.section-glove__items{
    width: calc(85% - 400px / 2);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.bundle__products-item{
    max-width: 100%;
}

.section-glove__bundle{
    border: 1px solid #000;
    border-radius: 20px;
    margin-bottom: 15px;
}

.section-glove__title{
    margin: 0;
    padding: 20px 0;
    text-align: center;
    font-size: 32px;
    border-bottom: 1px solid #000;
}

.section-glove__content{
    padding: 20px;
}

.section-glove__list{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 30px;
}

.section-glove__photo{
    width: 115px;
    height: 115px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-glove__photo span,
.section-glove__photo p{
    font-size: 12px;
    font-weight: 700;
    color: rgba(185, 185, 185, 1);
    margin: 0;
}

.empty .section-glove__photo{
    border: 1px rgba(185, 185, 185, 1) solid;
}

.section-glove__photo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: rgba(242, 242, 242, 1);
    border-radius: 5px;
}

.section-glove__element{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-glove__headline{
    text-transform: uppercase;
    margin: 0;
    font-family: "Anton" !important;
    font-size: 18px;
    margin-top: -10px;
}

.section-glove__price{
    font-size: 14px;
    font-weight: 700;
    margin: 0;
}

.section-glove__remove{
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
}

.section-glove__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.section-glove__t{
    margin: 0;
    font-size: 14px;
    font-weight: 700;
}

.section-glove__prices{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.section-glove__cost{
    font-size: 14px;
    font-weight: 700;
    margin: 0;
}

.section-glove__prevcost{
    background-color: rgba(215, 85, 85, 1);
    padding: 0 5px;
    font-size: 12px;
    text-decoration: line-through;
    color: #fff;
    margin: 0;
    display: inline-block;
}

.section-glove__submit{
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(215, 85, 85, 1);
    border: none;
    color: #fff;
    font-size: 18px;
}

.section-glove__submit:disabled{
    background-color: rgba(215, 85, 85, 0.4);
}

.section-glove__img{
    width: 100%;
}

.mobile{
    display: none;
}

/*--------------------------------------*/
.section-glove__item{
    background-color: rgba(240, 240, 240, 1);
    border-radius: 10px;
    padding: 25px 15px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.card-top-badge{
    top: 10px;
    left: 10px;
}

.section-glove__image{
    width: 100%;
    aspect-ratio: 1 / 1;
}

.section-glove__image img{
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.section-glove__image ~ .loox-rating{
    display: flex;
    justify-content: center;
}

.loox-rating svg{
    color: rgba(0, 0, 0, 1) !important;
    margin-bottom: 5px;
}

.section-glove__caption{
    margin: 0;
    font-size: 16px;
    text-align: center;
    font-family: "Anton" !important;
    line-height: 24px;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #000;
    flex: 1;
}

.section-glove__type{
    font-size: 10px;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    color: rgba(58, 58, 58, 1);
}

.section-glove__select{
    border: rgba(178, 178, 178, 1) 1px solid;
    border-radius: 5px;
}

.section-glove__button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    background-color: rgba(215, 85, 85, 1);
    border-radius: 5px;
    border: none;
    padding: 10px;
}

.section-glove__button,
.section-glove__button span{
    color: #fff;
    font-family: "Arial" !important;
    font-size: 14px;
}

.section-glove__wrapp{
    display: flex;
    column-gap: 5px;
    margin-top: 10px;
}

.section-glove__select{
    min-width: 50px;
    border-radius: 5px;
    background-color: transparent;
    display: flex;
    text-align: center;
}

@media (max-width: 1400px) {
    .section-glove__photo{
        width: 90px;
        height: 90px;
    }

    .section-glove__headline{
        font-size: 14px;
    }

    .section-glove__price{
        font-size: 12px;
    }
}

  
@media (max-width: 992px) {
    .section-glove__items{
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
}

@media (max-width: 800px) {
    .section-glove__wrap{
        position: fixed;
        z-index: 100;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .banners,
    .section-glove__title,
    .section-glove__img,
    .section-glove__info,
    .desctop,
    .section-glove__photo p,
    .section-glove__remove{
        display: none !important;
    }

    .section-glove__bundle{
        background-color: rgba(25, 27, 28, 1);
        margin-bottom: 0;
        border-radius: 0;
        width: 100%;
    }

    .section-glove__content{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .section-glove__list{
        column-gap: 10px;
        flex-direction: row;
        margin-bottom: 0;
    }

    .section-glove__photo{
        width: 50px;
        height: 50px;
    }

    .section-glove__content{
        padding: 15px 10px;
    }

    .section-glove__submit{
        margin: 0;
        font-size: 16px;
    }

    .empty{
        padding-bottom: 20px;
    }

    .mobile{
        display: block;
    }

    .section-glove__photo{
        margin-bottom: 4px;
    }

    .section-glove__headline{
        margin: 0;
        font-size: 6px;
        color: #fff;
        margin-bottom: 2px;
    }

    .section-glove__size{
        color: #fff;
        margin: 0;
        font-size: 6px;
    }

    .section-glove__element{
        flex-direction: column;
    }

    /*---------------*/

    .section-glove__item{
        padding: 20px 10px;
    }

    .section-glove__caption{
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 0;
    }

    .section-glove__type{
        font-size: 12px;
    }

    .section-glove__wrapp{
        margin-top: 5px;
    }

    .section-glove__text{
        margin-bottom: -5px;
    }

    .section-glove__select{
        min-width: 40px;
        font-size: 10px;
    }

    .section-glove__button{
        padding: 10px;
    }

    .section-glove__button,
    .section-glove__button span{
        font-size: 10px;
    }
}

@media (max-width: 576px) {

    .section-glove__list{
        column-gap: 5px;
    }

    .section-glove__submit{
        padding: 10px;
    }

    .section-glove__content{
        padding: 15px 5px;
    }
}


.banners{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 15px;
}

.banners__item{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.banners__text{
    margin: 0;
    font-size: 12px;
}

.product__media-list li.product__media-item{
    padding: 0 !important;
}

@media screen and (max-width: 750px) {
    .banners{
        padding: 5px 10px;
    }

    .banners__text{
        font-size: 12px;
    }
}

.section-banner__wrapper{
    display: flex;
    position: relative;
    margin-bottom: 65px;
}

.section-banner__wrap,
.section-banner__image{
    width: 50%;
}

.section-banner__image img:last-child{
    display: none;
}

.section-banner__image{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: -1;
}

.section-banner__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-banner__wrap{
    background-color: #191B1C;
    color: #fff;
    padding: 90px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-banner__title{
    color: #fff;
    font-size: 48px;
    max-width: 325px;
    text-align: center;
    margin: 0;
    margin-bottom: 35px;
}

.section-banner__items{
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.section-banner__item{
    border-radius: 10px;
    position: relative;
    min-width: 150px;
    padding-top: 20px;
}

.section-banner__item.active{
    background-color: #FFF1F1;
    color: #000;
}

.section-banner__item::before{
    content: "";
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    transform: translate(-50%, -50%);
    border: #B9B9B9 solid 1px;
    border-radius: 12px;
    transition: .5s all;
}

.section-banner__item.active::before{
    border: #D75555 solid 1px;
}

.section-banner__pair{
    margin: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2px 20px;
    border: 1px solid #B9B9B9;
    border-radius: 5px;
    color: #000;
    background-color: #FFFFFF;
    font-weight: bold;
    font-size: 12px;
    white-space: nowrap;
    transition: .5s all;
}

.active .section-banner__pair{
    border: #D75555 solid 1px;
    color: #D75555;
}

.section-banner__prices{
    display: flex;
    column-gap: 5px;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.section-banner__prevprice{
    margin: 0;
    font-size: 10px;
    text-decoration: line-through;
    line-height: 12px;
}

.section-banner__price{
    font-size: 14px;
    margin: 0;
    font-weight: bold;
}

.section-banner__description{
    margin: 0;
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
}

.section-banner__discount{
    padding: 10px;
    font-size: 12px;
    background-color: #B9B9B9;
    border-radius: 0 0 10px 10px;
    text-align: center;
    transition: .5s all;
}

.active .section-banner__discount{
    background-color: #D75555;
    color: #fff;
}

.section-banner__caption{
    margin: 0;
    margin-bottom: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    column-gap: 10px;
}
  
@media (max-width: 992px) {
    .section-banner__image{
        width: 100%;
        background-color: #191B1C;
    }

    .section-banner__image img{
        height: 75%;
    }

    .section-banner__image img:first-child{
        display: none;
    }

    .section-banner__image img:last-child{
        display: block;
    }
    
    .section-banner__wrap{
        background: #191B1C;
background: linear-gradient(0deg,rgba(25, 27, 28, 1) 25%, rgba(25, 27, 28, 0.5) 45%, rgba(0, 0, 0, 0) 65%);
        width: 100%;
        padding-top: 275px;
        padding-bottom: 35px;
    }

    .section-banner__title{
        font-size: 32px;
        line-height: 35px;
        max-width: 250px;
        margin-bottom: 25px;
    }

    .section-banner__item{
        min-width: 100px;
    }

    .section-banner__items{
        column-gap: 15px;
    }

    .section-banner__pair{
        font-size: 10px;
        padding: 0 15px;
    }

    .section-banner__prevprice,
    .section-banner__description{
        font-size: 8px;
    }

    .section-banner__price{
        font-size: 12px;
    }

    .section-banner__discount{
        padding: 5px;
        font-size: 8px;
    }

    .section-banner__caption{
        margin-bottom: 5px;
        font-size: 12px;
        column-gap: 5px;
    }

    .section-banner__caption svg{
        width: 75px;
    }
}
  
@media (max-width: 762px) {
}
  
@media (max-width: 576px) {
}

.popup__content{
    border-radius: 0;
}

.popup__stars{
    margin: -5px 0;
}

.popup__stars svg{
    width: 8px;
}

.loox-rating-label{
    font-size: 8px;
}

.popup__content{
    padding: 15px;
}

.popup__price{
    margin-bottom: 0;
}

.popup__tags{
    display: flex;
    column-gap: 5px;
    margin-bottom: 15px;
}

.popup__tag{
    background-color: #D75555;
    border-radius: 5px;
    padding: 0 5px;
    font-size: 10px;
    color: #fff;
}

.loox-rating-content svg{
    width: 10px;
}

.popup__price{
    font-size: 14px;
}