.section-bundle-reviews{
    margin-bottom: 65px;
}

.section-bundle-reviews__title{
    margin: 0;
    font-size: 32px;
    text-align: center;
    margin-bottom: 40px;
}

.section-bundle-reviews__wrapper{
    display: flex;
    justify-content: center;
    column-gap: 15px;
    margin-bottom: 40px;
}

.section-bundle-reviews__item{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
    background-color: rgba(240, 240, 240, 1);
    border-radius: 10px;
    overflow: hidden;
}

.section-bundle-reviews__information{
    padding: 15px;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.section-bundle-reviews__image{
    width: 100%;
}

.section-bundle-reviews__image img{
    width: 100%;
    aspect-ratio: 300/240;
    object-fit: cover;
}

.section-bundle-stars{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    column-gap: 5px;
    margin-top: -5px;
}

.section-bundle-stars img{
    width: 20px;
}

.section-bundle-reviews__caption{
    text-align: center;
    margin: 0;
    font-size: 18px;
    margin-bottom: 5px;
}

.section-bundle-reviews__description{
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 18px;
    flex: 1;
}

.section-bundle-reviews__name{
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 5px;
}

.section-bundle-reviews__info{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    font-size: 12px;
}

.section-bundle-reviews__wrapper {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  overflow: auto;
}

.section-bundle-reviews__wrapper::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.section-bundle-reviews__button{
    background-color: #D75555;
    border: none;
    padding: 10px 25px;
    color: #fff;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 18px;
    font-family: "Arial" !important;
    font-weight: 700;
    margin-bottom: 10px;
    text-decoration: none;
}

.section-bundle-reviews__wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-bundle-reviews__text{
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 14px;
    column-gap: 5px;
}

@media (max-width: 750px) {
    .section-bundle-reviews__wrapper{
        margin: 0 -15px;
        padding: 0 15px;
        justify-content: flex-start;
        overflow: scroll;
        column-gap: 15px;
        margin-bottom: 25px;
    }

    .section-bundle-reviews__item{
        min-width: 215px;
    }
    
    .section-bundle-reviews__information{
        padding: 10px;
    }

    .section-bundle-stars img{
        width: 15px !important;
    }

    .section-bundle-reviews__caption{
        font-size: 14px;
        margin-bottom: 5px;
    }

    .section-bundle-reviews__description{
        font-size: 12px;
        margin-bottom: 15px;
    }

    .section-bundle-reviews__name{
        font-size: 12px;
        margin: 0;
    }

    .section-bundle-reviews__info{
        font-size: 10px;
    }

    .section-bundle-reviews__info img{
        width: 10px !important;
    }

    .section-bundle-reviews__title{
        font-size: 18px;
        margin-bottom: 15px;
    }

    .section-bundle-reviews{
        margin-bottom: 30px;
    }

    .section-bundle-reviews__button{
        font-size: 14px;
        padding: 5px 20px;
    }
}