.section-main-banner{
    display: flex;
    justify-content: center;
    padding: 120px 0;
    background: url("https://cdn.shopify.com/s/files/1/0667/5877/0944/files/55227d49a64edff52ff2a87445719752219349c8.png?v=1748366907") center center no-repeat;
    background-size: cover;
}

.page-width{
    width: 100%;
}

.section-bundle-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.section-bundle-caption{
    display: flex;
    column-gap: 5px;
    align-items: center;
    color: #fff;
    font-weight: 700;
    margin: 0;
    margin-bottom: 20px;
}

.section-bundle-title{
    font-size: 64px;
    color: #fff;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
}

.section-bundle-subtitle{
    text-transform: none;
    font-family: "Arial" !important;
    font-size: 16px;
    text-align: center;
    margin: 0;
    margin-bottom: 25px;
    color: #fff;
}

.section-bundle-text{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    column-gap: 5px;
    font-size: 14px;
    margin: 0;
}

.section-bundle-button{
    display: block;
    padding: 15px 25px;
    border-radius: 5px;
    background-color: rgba(215, 85, 85, 1);
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
}

@media (max-width: 750px) {
    .section-main-banner{
        background-image: url("https://cdn.shopify.com/s/files/1/0667/5877/0944/files/15e15d26c0118559964c722d3247e10562856b7d.png?v=1748366907");
        padding-top: 325px;
        padding-bottom: 45px;
    }

    .section-bundle-caption{
        font-size: 10px;
        margin-bottom: 10px;
    }

    .section-bundle-caption svg{
        width: 75px;
    }

    .section-bundle-title{
        font-size: 32px;
        margin-bottom: 5px;
    }

    .section-bundle-subtitle{
        font-size: 12px;
        max-width: 325px;
        margin-bottom: 15px;
        line-height: 17px;
    }

    .section-bundle-text{
        font-size: 12px;
        padding: 3px 10px;
    }

    .section-bundle-wrapper{
        align-items: center;
    }

    .section-bundle-button{
        padding: 10px 15px;
        font-size: 14px;
        margin-bottom: 5px;
    }
}