<style>

  input {
    border: 1px solid #333 !important;
}
  .text-area {
    border: 1px solid #333 !important;
}
</style>

<div class="page-width page-width--narrow section-template--16580328521984__main-padding">
  <h1 class="main-page-title page-title h0">
    Sponsorships
  </h1>
  <div class="rte">


<p><span style="font-weight: 400;">If you are a professional goalkeeper, goalkeeping academy, high-level coach, or youth, then The Hundred Glove® can support you on the road.</span></p>
<p><span style="font-weight: 400;">Simply fill our sponsorship form and a member of our team will get back to you confirming your eligibility.</span></p>
<p><span style="font-weight: 400;">Alternatively, you can email </span><b>keepers@thehundredclub.com</b><span style="font-weight: 400;"> for assistance.</span></p>
<p><span style="font-weight: 400;">Please don’t submit this form more than once, as this can cause a huge crossover and delay our response times in getting back to you.</span></p>
  </div>
</div>
{% section 'contact-form' %}