<style>

  input {
    border: 1px solid #333 !important;
}
  .text-area {
    border: 1px solid #333 !important;
}
</style>

<div class="page-width page-width--narrow section-template--16580328521984__main-padding">
  <h1 class="main-page-title page-title h0">
    General Enquiries
  </h1>
  <div class="rte">


<p><span style="font-weight: 400;">The easiest way to get in touch with a member of our team is by using our live chat feature, but should this be unavailable, you can complete the form on this page. </span></p>
<p><span style="font-weight: 400;">Alternatively, you can email keepers@thehundredglove.com for assistance.</span></p>
  </div>
</div>
{% section 'contact-form' %}